---
---
<nav class="bg-blue-700 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="font-bold text-xl">Olimpiadas</a>
    <ul class="flex gap-6">
      <li><a href="/" class="hover:underline">Inicio</a></li>
      <li><a href="/inscripcion" class="hover:underline">Inscripción</a></li>
      <li><a href="/recursos" class="hover:underline">Recursos</a></li>
      <li><a href="/contacto" class="hover:underline">Contacto</a></li>
    </ul>
  </div>
</nav>
