---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro"
import List from "../components/List.astro"
import Cards from "../components/Cards.astro"
import CardHolder from "../components/CardHolder.astro"
import Disclaimer from "../components/Disclaimer.astro"
import Paragraphs from "../components/Paragraphs.astro"
---

<Layout title="Aerolíneas Ilegales" description="Aerolíneas Ilegales oficial website">
    <div class="mb-20"><List /></div>
    <p class="mb-6 w-[60%] mx-auto" >Ofertas y condiciones</p>
    <CardHolder />
    <div class="mb-10"><Disclaimer /></div>
    <div class="mb-10"><Paragraphs /></div>
</Layout>
