<footer class="bg-white text-gray-800">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="#" class="flex items-center">
          <img src="" class="h-8 me-3" alt="Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-800">Aerolíneas Ilegales</span>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <!-- Recursos -->
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Recursos</h2>
          <ul class="text-gray-700 font-medium">
            <li class="mb-4">
              <a href="https://astro.build/" class="hover:underline">Astro</a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
            </li>
          </ul>
        </div>
        <!-- Conócenos -->
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Conócenos</h2>
          <ul class="text-gray-700 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Nuestra Empresa</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Políticas de privacidad</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Términos & Condiciones</a>
            </li>
          </ul>
        </div>
        <!-- Ayuda -->
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Te ayudamos</h2>
          <ul class="text-gray-700 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Centro de ayuda</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Mis viajes</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Documentación</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="my-6 border-gray-300 sm:mx-auto lg:my-8" />

    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-600 sm:text-center">
        © 2025 <a href="#" class="hover:underline">Aerolíneas Ilegales</a>. Todos los derechos reservados.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0 space-x-5">
        <!-- íconos -->
      </div>
    </div>
  </div>
</footer>
