<nav class="border-red-800 bg-red-700 dark:bg-red-800 dark:border-red-900 text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <i class="fa-sharp fa-solid fa-paper-plane"></i>
      <span class="self-center text-2xl font-semibold whitespace-nowrap">Aerolíneas Ilegales</span>
    </a>

    <!-- Botón hamburguesa -->
    <button data-collapse-toggle="navbar-solid-bg" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-white rounded-lg md:hidden hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300 dark:hover:bg-red-700 dark:focus:ring-red-500"
      aria-controls="navbar-solid-bg" aria-expanded="false">
      <span class="sr-only">Abrir menú</span>
      <svg class="w-5 h-5" fill="none" viewBox="0 0 17 14" xmlns="http://www.w3.org/2000/svg">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>

    <!-- Menú -->
    <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-red-700 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-red-700 dark:bg-red-800">
        <li>
          <a href="#" class="block py-2 px-3 text-white rounded hover:bg-red-600 md:hover:bg-transparent md:border-0 md:hover:underline">Inicio</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white rounded hover:bg-red-600 md:hover:bg-transparent md:border-0 md:hover:underline">Información</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white rounded hover:bg-red-600 md:hover:bg-transparent md:border-0 md:hover:underline">Ayuda</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white rounded hover:bg-red-600 md:hover:bg-transparent md:border-0 md:hover:underline">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
