---
import Cards from "./Cards.astro";
---

<section class="flex justify-center gap-0">
  <div class="flex gap-6 scale-80 origin-top w-[60%] mx-auto">
    <Cards img="card_01.png" title="Curaçao" rating="3.0" precio="$1.233.203" />
    <Cards img="card_02.png" title="Belice" rating="3.0" precio="$1.049.504"/>
    <Cards img="card_03.png" title="Nassau" rating="3.0" precio="$1.351.106"/>
    <Cards img="card_04.png" title="Playa Blanca" rating="3.0" precio="$930.397"/>
  </div>
</section>