<section class="bg-gray-200 py-8 px-4">
  <div class="flex flex-row justify-center gap-6 max-w-screen-xl mx-auto">
    
    <!-- Bloque 1 -->
    <div class="flex-1 max-w-sm text-center">
      <h1 class="mb-4 text-2xl font-bold tracking-tight text-black">
        Simplificamos tu experiencia
      </h1>
      <p class="text-base text-gray-500">
        Te brindamos un servicio integral para que armes tu viaje como quieras y donde quieras, con el asesoramiento de un Experto cuando lo necesites.
      </p>
    </div>

    <!-- Bloque 2 -->
    <div class="flex-1 max-w-sm text-center">
      <h1 class="mb-4 text-2xl font-bold tracking-tight text-black">
        Ahorras dinero y tiempo
      </h1>
      <p class="text-base text-gray-500">
        Ponemos el mundo a tu alcance: accedes al mejor precio en vuelos, hoteles y paquetes; ofertas únicas y múltiples métodos de pago. Si lo prefieres, un Experto puede buscarte las mejores opciones para tu viaje.
      </p>
    </div>

    <!-- Bloque 3 -->
    <div class="flex-1 max-w-sm text-center">
      <h1 class="mb-4 text-2xl font-bold tracking-tight text-black">
        Te cuidamos siempre
      </h1>
      <p class="text-base text-gray-500">
        Te conectamos con un Experto cuando quieras para que te asista 24/7 y viajes con tranquilidad. Nos avalan más de 70 años experiencia y la confianza de nuestros viajeros.
      </p>
    </div>

  </div>
</section>
