<div class="relative overflow-x-auto bg-white w-[60%] mx-auto">
  <table class="w-full text-sm text-left rtl:text-right text-black">
    <thead class="text-xs text-black uppercase bg-gray-100">
      <tr>
        <th scope="col" class="px-6 py-3">
          Product name
        </th>
        <th scope="col" class="px-6 py-3">
          Date
        </th>
        <th scope="col" class="px-6 py-3">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b border-gray-300">
        <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap">
          test"
        </th>
        <td class="px-6 py-4 text-black">
          test
        </td>
        <td class="px-6 py-4 text-black">
          test
        </td>
        <td class="px-6 py-4 text-black">
          test
        </td>
      </tr>
    </tbody>
  </table>
</div>
