<div class="origin-top w-[60%] mx-auto">
  <p class="mb-4 text font-semibold text-gray-800">
    ¡Vuelos baratos, paquetes de viajes y más en Aerolíneas Ilegales!
  </p>
  <p class="text-xs text-gray-800 leading-relaxed">
    Encuentra los mejores precios en vuelos económicos y paquetes turísticos, pasajes aéreos, hoteles y más. 
    Organiza tus vacaciones con Aerolíneas Ilegales, planifica tu viaje y compra paquetes baratos y ofertas increíbles. 
    Elige el destino favorito para tu próximo viaje. Revisa todos los vuelos y hoteles de forma rápida y sencilla, encuentra la opción que más se ajuste a tus vacaciones soñadas. 
    Contamos con los mejores precios en vuelos a los destinos más increíbles. 
    Descubre la gran variedad de hoteles para disfrutar de un gran hospedaje y estadía.
    En Aerolíneas Ilegales te acompañamos en cualquier época del año con las mejores ofertas de vuelos y promociones en viajes. 
    Consigue vuelos baratos y paquetes de viaje adaptados a tus necesidades y presupuesto.
    Descubre una amplia variedad de destinos turísticos que te dejarán sin aliento. Ya sea que prefieras una relajante playa caribeña, una emocionante aventura en la montaña o una exploración cultural en una ciudad histórica, en Aerolíneas Ilegales tenemos el destino perfecto para ti. Con nosotros, siempre encontrarás los mejores precios en vuelos y pasajes baratos para planificar tu viaje sin complicaciones. 
    Consigue los mejores precios en vuelos y pasajes baratos para planificar tu viaje. 
    Realiza tu reserva para disfrutar de una excelente estadía y sin preocupaciones.
  </p>
</div>
