<div class="">
    <nav class="">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <h1>hola personas llamadas pepe</h1>
</div>