<div class="banner">
    <h2>Contrucci칩n&Acondici칩n</h2>
    <span>Construyendo el futuro con calidad y seguridad</span>
</div>

<div class="container-cards">
    <!-- Card (Grupo1) -->
    <div class="card">
        <figure><img src="" alt=""></figure>
        <div>
            <p>Edificio Comercial</p>
            <span>Dise침o de construcci칩n de edificiones comerciales</span>
        </div>
    </div>
    <!-- Card (Grupo2) -->
    <div class="card">
        <figure><img src="" alt=""></figure>
        <div>
            <p>Vivienda Residencial</p>
            <span></span>
        </div>
    </div>
    <!-- Card (Grupo3) -->
    <div class="card">
        <figure><img src="" alt=""></figure>
        <div>
            <p>Edificio de oficinas</p>
            <span></span>
        </div>
    </div>
    <!-- Card (Grupo4) -->
    <div class="card">
        <figure><img src="" alt=""></figure>
        <div>
            <p>Edificio Educativo</p>
            <span></span>
        </div>
    </div>
    <!-- Card (Grupo5) -->
    <div class="card">
        <figure><img src="" alt=""></figure>
        <div>
            <p>Edificio de Salud</p>
            <span></span>
        </div>
    </div>
    <!-- Card (Grupo6) -->
    <div class="card">
        <figure><img src="" alt=""></figure>
        <div>
            <p>Edificio Industrial</p>
            <span></span>
        </div>
    </div>
</div>

<button class="btn-expands-projetcs">Ver todos los proyectos</button>