<nav class="navbar">
    <h1 class="logo">Construcción&Acondición</h1>
    <div class="links-pages">
        <a class="link" href="/">Inicio</a>
        <a class="link" href="/">Proyectos</a>
        <a class="link" href="/">Nosotros</a>
        <a class="link" href="/">Contacto</a>
        <a class="contact" href="/">Cotización Gratuita</a>
    </div>
</nav>