---
import './src/styles/global.css'
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-white">
    <div class="mb-10">
      <Navbar />
    </div>
    
    <main class="flex-1">
      <div class="w-[100%] mx-auto">
        <slot />	
      </div>
    </main>
    <Footer />
  </body>
</html>
